html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
}

h1 {
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.back-button:hover {
    background-color: #333333;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.right-options,
.left-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.role-button {
    width: 250px;
    height: 250px;
    font-size: 1.6rem;
    color: white;
    background-color: #000000;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.role-button:hover {
    background-color: #333333;
}

.role-button:focus {
    outline: none;
}

.accept-btn, .reject-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.accept-btn {
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

.accept-btn:hover {
    background-color: #218838;
}

.reject-btn {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.reject-btn:hover {
    background-color: #c82333;
}

.retire-btn {
    background-color: #FFA500;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.retire-btn:hover {
    background-color: #e69500;
}

.cashier-list {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 8px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #333;
}
